.footer {
    background-color: $primary-color;
    padding: 80px 0;
  
    .footer-row {
      display: flex;
      flex-wrap: wrap;
    }
  }
    .footer-links {
      h4 {
        font-size: 20px;
        color: white;
        margin-bottom: 25px;
        font-weight: 500;
        border-bottom: 2px solid blue;
        padding-bottom: 10px;
        display: inline-block;
      }
    }
      ul{
         li{     
            a{
            font-size: 18px;
            text-decoration: none;
            color: white;
            display: block;
            margin-bottom: 15px;
            transition: all 0.3s ease;
  
        &:hover {
          color: white;
          padding-left: 6px;
        }
      }
    }
  }
  
